//libraries
@import "animate";
//variables
@import "variables";
//views
@import "home";
@import "result";
//partials
@import "partials/focused";
@import "partials/navbar";
@import "partials/search";
body {
    background-color: $highlight;
}

html {
    background-color: $highlight;
}

a {
    color: white;
}

a:hover {
    color: $highlight;
    text-decoration: none;
}

.container {
    padding: 110px 0;
}

.animate {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}