//colors.
$bg-dark: #32373d;
//
$hl0: #c3ec94;
$hl1: #94ecec;
$hl2: #ec94e0;
$hl3: #c3ec94;
$hl4: #ecd794;
$hl5: #ec9494;
$hl6: #5f8cee;
$hl7: #d4a115;
$hl8: #569643;
$hl9: #1776e4;
//
$blue-grey: #6888a8;
$dark-grey: #272727;
$light-grey: #585f66;
//
$yellow: #fafa44;