<script src="scripts/partials/focused.js"></script> 

{{#if focused}}
<button class="focus-off-click" onclick="unfocusGif('{{focused.id}}')"></button>
<div class="focused col-sm-12 col-md-10 col-lg-9 col-xl-8">
  <h1 class="focused-title">{{focused.title}}</h1>
  <img class="focused-image" src="{{focused.images.original.url}}">
</div>
{{/if}}