<script>
    history.pushState(null, null, '/');
</script>

<div class="home-box {{homeAnimState}} col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <h1>{{{randPhrase}}}</h1>
    <div class="home-search">
        {{>search}}
    </div>
    <img class="dance" src="images/dances/{{randDance}}.gif">
</div>