 {{#each gifs}}

<div class="gif-result animate">
  <img class="gif-image animate" src="{{this.images.fixed_height.url}}">
  <div class="gif-info animate">
    <h3 class="gif-title">{{this.title}}</h3>
  </div>
</div>

{{/each}}