.focus-off-click {
    position: fixed;
    z-index: 90;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.25;
    transform: scale(1, 1);
}

.focus-off-click.show {
    -moz-animation: fadeInQuart 0.3s ease-in;
    -webkit-animation: fadeInQuart 0.3s ease-in;
    animation: fadeInQuart 0.3s ease-in;
}

.focus-off-click.hide {
    -moz-animation: fadeOutQuart 0.3s ease-in;
    -webkit-animation: fadeOutQuart 0.3s ease-in;
    animation: fadeOutQuart 0.3s ease-in;
    transform: scale(0, 0);
}

.focus-off-click.hidden {
    display: none;
}

.focused {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 680px;
    margin: auto;
    border: 2px solid $dark-grey;
    border-radius: 5px;
    background-color: $light-grey;
    box-shadow: 8px 8px 10px $dark-grey;
    transform: scale(1, 1);
    .focused-title {
        position: relative;
        z-index: 20;
        color: white;
        text-align: center;
        text-shadow: 2px 2px black;
        cursor: default;
    }
    .focused-loading {
        position: absolute;
        display: block;
        height: 100px;
        width: auto;
        z-index: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
    .focused-image {
        position: absolute;
        display: block;
        z-index: 10;
        min-height: 300px;
        min-width: 100px;
        height: auto;
        width: auto;
        max-height: 600px;
        max-width: 85%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        border-radius: 5px;
        box-shadow: 1px 1px 2px $dark-grey;
        transform: scale(1, 1);
    }
    .focused-image:hover {
        z-index: 30;
        box-shadow: 8px 8px 20px $dark-grey;
        transform: scale(1.1, 1.1);
    }
    .focused-info {
        position: relative;
        z-index: 20;
        color: white;
        text-shadow: 2px 2px black;
        font-size: x-large;
        list-style-type: none;
        cursor: default;
    }
    .focused-controls {
        position: absolute;
        z-index: 20;
        bottom: 15px;
        left: 15px;
        .material-icons {
            position: relative;
            font-size: x-large;
            color: white;
            transform: scale(1.5, 1.5);
            text-shadow: 2px 2px black;
            margin: 10px;
            cursor: pointer;
        }
        .material-icons:hover {
            -moz-animation: rubberBandLarge 1s ease;
            -webkit-animation: rubberBandLarge 1s ease;
            animation: rubberBandLarge 1s ease;
        }
        .fb-share-button {
            margin: 10px;
            transform: scale(1.1, 1.1);
        }
        .gif-favorite.favorited {
            color: $yellow;
            transform: scale(1.8, 1.8);
        }
        .gif-favorite:hover {
            color: $yellow;
        }
    }
}

.focused.show {
    -moz-animation: zoomInDown 1s ease-in;
    -webkit-animation: zoomInDown 1s ease-in;
    animation: zoomInDown 1s ease-in;
}

.focused.hide {
    -moz-animation: fadeOut 1s ease-in;
    -webkit-animation: fadeOut 1s ease-in;
    animation: fadeOut 1s ease-in;
    transform: scale(0, 0);
}

.focused.hidden {
    display: none;
}