nav {
    background-color: $dark-grey;
    box-shadow: 0 6px 8px $dark-grey;
    .navbar-expand-lg .navbar-nav.side-nav {
        flex-direction: none;
    }
    .navbar-brand {
        position: relative;
        margin: 0;
        padding: 0;
        left: -10px;
        .highlight-bg {
            position: absolute;
            z-index: 0;
            top: 2px;
            right: 2px;
            height: 33px;
            width: 120px;
        }
        .white-bg {
            position: absolute;
            z-index: 10;
            top: 2px;
            right: 2px;
            height: 33px;
            width: 120px;
            background-color: white;
            opacity: 0;
        }
        img {
            position: relative;
            z-index: 20;
            height: 37px;
            width: 125px;
            pointer-events: none;
        }
    }
    .navbar-brand:hover {
        -moz-animation: rubberBand 1s ease;
        -webkit-animation: rubberBand 1s ease;
        animation: rubberBand 1s ease;
        .white-bg {
            opacity: 1;
        }
    }
    .header-top {
        box-shadow: 0 3px 5px $dark-grey;
    }
    .leftmenutrigger {
        display: none
    }
    .dropdown-toggle {
        color: white;
    }
    .dropdown-toggle:hover {
        text-decoration: none;
    }
    .dropdown-menu {
        padding: 15px;
        margin-left: 225px;
        font-size: large;
        background-color: $light-grey;
        box-shadow: 3px 3px 10px $dark-grey;
    }
    .dropdown-submenu {
        position: relative;
        background-color: $light-grey;
    }
    .dropdown-submenu>.dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }
    .dropdown-submenu:hover>.dropdown-menu {
        display: block;
    }
    .dropdown-submenu>a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: 5px;
        background-color: $light-grey;
    }
    .dropdown-submenu:hover>a:after {
        border-left-color: #fff;
    }
    .dropdown-submenu.pull-left {
        float: none;
    }
    .dropdown-submenu.pull-left>.dropdown-menu {
        left: -100%;
        margin-left: 10px;
        -webkit-border-radius: 6px 0 6px 6px;
        -moz-border-radius: 6px 0 6px 6px;
        border-radius: 6px 0 6px 6px;
    }
    .nav-search {
        width: 600px;
        margin-left: calc(100% - 700px);
        transform: scale(1, 1);
    }
    .nav-search.show {
        -moz-animation: bounceInRight 1s ease-in;
        -webkit-animation: bounceInRight 1s ease-in;
        animation: bounceInRight 1s ease-in;
    }
    .nav-search.hide {
        -moz-animation: bounceOutRight 1s ease;
        -webkit-animation: bounceOutRight 1s ease;
        animation: bounceOutRight 1s ease;
        transform: scale(0, 0);
    }
    .nav-search.hidden {
        display: none;
    }
}

@media(min-width:992px) {
    .nav {
        width: 200px;
        margin-left: 10px;
    }
    .nav-btn {
        margin: 5px;
        cursor: pointer;
    }
    .navbar-nav.side-nav.open {
        left: 0;
    }
    .navbar-nav.side-nav {
        background: $light-grey;
        box-shadow: 2px 1px 2px rgba(0, 0, 0, .1);
        position: fixed;
        top: 56px;
        flex-direction: column !important;
        left: -220px;
        width: 200px;
        overflow-y: auto;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px
    }
}

@media(max-width:992px) {
    nav {
        .navbar-brand {
            .highlight-bg {
                height: 64px;
                width: 240px;
            }
            .white-bg {
                height: 64px;
                width: 240px;
            }
            img {
                height: 74px;
                width: 250px;
            }
        }
        .nav-search {
            position: fixed;
            z-index: 20;
            top: 0;
            right: 0;
            left: 0;
            margin: auto;
        }
        .header-top {
            box-shadow: none;
        }
        .navbar-toggler {
            position: fixed;
            top: 0;
            right: 0;
            margin: 15px;
            .navbar-toggler-icon {
                font-size: xx-large;
            }
        }
        .navbar-expand-lg {
            font-size: xx-large;
        }
        .dropdown-menu {
            margin-left: 0;
            font-size: x-large;
        }
        .dropdown-submenu {
            margin-left: 0;
            font-size: x-large;
        }
    }
}