.search {
    display: inline-block;
    .btn {
        box-shadow: 1px 1px 2px $dark-grey;
        transform: scale(1, 1);
    }
    .btn:hover {
        z-index: 50;
        background-color: $dark-grey;
        box-shadow: 3px 3px 4px $dark-grey;
        transform: scale(1.1, 1.1);
    }
    .btn:focus {
        box-shadow: 1px 1px 2px $dark-grey;
        transform: scale(1, 1);
    }
    input {
        position: relative;
        box-shadow: 1px 1px 2px $dark-grey;
        transform: scale(1, 1);
        left: 0;
    }
    input:focus {
        z-index: 50;
        box-shadow: 3px 3px 4px $dark-grey;
        transform: scale(1.1, 1.1);
        left: -8px;
    }
}


@media(max-width:992px) {
    .form-control {
        min-height: 75px;
        font-size: xx-large;
    }
    .btn {
        font-size: xx-large;
    }
}