@import "result";
@import "partials/navbar";

a {
    color: white;
}

a:hover {
    color: #6888a8;
    text-decoration: none;
}

.container {
    padding-top: 100px;
}

.animate {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}